<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="layout/layout_resources :: head"></head>
</head>
<body style="background-image: url('../david/assets/images/1.jpg'); background-attachment: fixed;">
	<div th:replace="layout/layout_horizontal_menu :: h-nav"></div>
	<div th:replace="layout/layout_vertical_menu :: v-nav"></div>
	
	<div class="col-sm-12 box form-panel">
		<div class="table-responsive main-body1">
			Hola
		</div>
	</div>
	
	<div th:replace="layout/layout_resources :: scripts"></div>
</body>
</html>