<!DOCTYPE html>
<html lang="en">
<head>
	<head th:replace="layout/layout_resources :: head"></head>
</head>
<body style="background-image: url('../david/assets/images/1.jpg'); background-attachment: fixed;">
	<div th:replace="layout/layout_horizontal_menu :: h-nav"></div>
	<div th:replace="layout/layout_vertical_menu :: v-nav"></div>
	
	<div class="box form-panel">
		<div class="main-head">
			<form th:action="@{/searchsystemparameters}" method="post" modelAttribute="Pagination" autocomplete="off" id="formSearch">
				<div class="table-responsive">
					<div class="pull-left"><div th:replace="layout/layout_messages :: message"></div></div>
					<div class="btn-toolbar pull-right">
						<div class="btn-group">
					    	<button class="btn btn-primary btn-sm" id="add">
					    		<span class="glyphicon glyphicon-plus"></span>
					    	</button>
					    </div>
						<div class="btn-group">
					    	<button type="submit" class="btn btn-primary btn-sm" id="search">
					    		<span class="glyphicon glyphicon-search"></span>
					    	</button>
					    </div>
						<div class="btn-group">
					        <button type="button" class="btn btn-primary btn-sm" id="clear">
					        	<span class="glyphicon glyphicon-remove"></span>
					        </button>
						</div>
						<div class="btn-group">
				        	<button id="prev" type="button" class="btn btn-primary btn-sm">
				        		<span class="glyphicon glyphicon-chevron-left"></span>
				        	</button>
				        	<input type="hidden" id="page" name="pager.page" class="btn btn-default btn-sm" th:value="${pagination.pager.page}"/>
				        	<input type="hidden" id="size" name="pager.size" class="btn btn-default btn-sm" th:value="${pagination.pager.size}"/>
				        	<button type="button" class="btn btn-default btn-sm" th:text="${pagination.pager.page}"></button>
				        	<button type="button" class="btn btn-default btn-sm">
				        		<span class="glyphicon glyphicon-minus"></span>
				        	</button>
				        	<button type="button" class="btn btn-default btn-sm" th:text="${pagination.pager.size}"></button>
				        	<button id="next" type="button" class="btn btn-primary btn-sm">
				        		<span class="glyphicon glyphicon-chevron-right"></span>
				        	</button>
				      	</div>
				      	<div class="btn-group">
				        	<button type="button" class="btn btn-default btn-sm" th:text="${pagination.pager.length}"></button>
				      	</div>
	    			</div>
	    			<table class="table table-bordred table-striped">
						<thead>
							<tr>
								<th width="20px"><input type="checkbox" id="checkthis"/></th>
								<th width="200px">
							        <input name="systemParameters.idSystemParameters" type="text" class="form-control input-sm"
				                    	th:value="${pagination.systemParameters.idSystemParameters}"
				                    	placeholder="Search id"/>
						        </th>
								<th width="200px">
							        <input name="systemParameters.value" type="text" class="form-control input-sm" 
				                    	th:value="${pagination.systemParameters.value}"
				                    	placeholder="Search value"/>
								</th>
								<th width="200px">
							        <input name="systemParameters.description" type="text" class="form-control input-sm" 
				                    	th:value="${pagination.systemParameters.description}"
				                    	placeholder="Search description"/>
								</th>
								<th width="200px">
									<input name="systemParameters.userName" type="text" 
										class="form-control input-sm"
										th:value="${pagination.systemParameters.userName}" placeholder="Search user name"/>
								</th>
								<th width="200px">
									<input name="systemParameters.date" type="text" 
										class="form-control input-sm form_datetime"
										th:value="${pagination.systemParameters.date}" placeholder="Search date"/>
								</th>
								<th width="50px">
<!-- 									<input type="text"  -->
<!-- 										class="form-control input-sm" -->
<!-- 										placeholder="Edit" disabled="disabled"/> -->
								</th>
							</tr>
						</thead>
					</table>
				</div>
			</form>
		</div>
		<div class="table-responsive main-body">
			<table class="table table-bordred table-striped">
				<tbody>
					<tr th:each="s : ${pagination.systemParametersList}">
						<td width="20px"><input type="checkbox" class="checkthis" /></td>
						<td width="200px" th:text="${s.idSystemParameters}"></td>
						<td width="200px" th:text="${s.value}"></td>
						<td width="200px">
							<div class="input-group">
								<input type="text" 
									class="input-sm ellipsis" 
									th:value="${s.description}"/>
								<div class="input-group-btn">
									<label data-placement="bottom" data-toggle="tooltip" title="Edit" class="btn-sm eye-button">
										<span class="glyphicon glyphicon-eye-open"></span>
 									</label>
							  	</div>
							</div>
						</td>
						<td width="200px" th:text="${s.userName}"></td>
						<td width="200px" th:text="${s.date}"></td>
						<td width="50px">
							<button type="button" class="btn btn-primary btn-sm edit" th:title="${s.idSystemParameters}">
				        		<span class="glyphicon glyphicon-pencil"></span>
				        	</button>
				        </td>
					</tr>
					<tr th:if="${#lists.isEmpty(pagination.systemParametersList)}" >
						<td colspan="5" style="text-align: center;">No Search Result Found</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- Modal systemparameters -->
	<div class="modal fade" data-backdrop="static" id="systemparametersModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content panel-primary">
				<div class="modal-header">
	               <button type="button" class="close" data-dismiss="modal">×</button>
	               <h4 class="modal-title">Modal Header</h4>
	            </div>
				<div class="modal-body">
		        	<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label"
							title="David Eduardo Marsiglia Ariña">Full Name</label>
						<div class="col-sm-9">
							<div class="required-field-block">
								<input name="fullName" type="text" class="form-control input-sm"
									placeholder="Your name" />
								<div class="required-icon">
									<div class="text">*</div>
								</div>
							</div>
							<span class="label label-danger">Danger</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End modal systemparameters -->
	
	<div th:replace="layout/layout_footer :: footer"></div>
	<div th:replace="layout/layout_resources :: scripts"></div>
	<script type="text/javascript" th:src="@{/assets/js/layout/systemparameters.js}"></script>
</body>
</html>