<!DOCTYPE html>
<html lang="en">
<head lang="en">
</head> 
<body>
	<div th:fragment="message" th:if="${messagesResponse != null}">
		<span th:if="${messagesResponse.status == 'E'}"  th:text="${messagesResponse.message}" class="label label-danger"></span>
		<span th:if="${messagesResponse.status == 'S'}"  th:text="${messagesResponse.message}" class="label label-success"></span>
		<br style="margin-bottom: 5px;"/>
	</div>
	
	<div th:fragment="messageAjax" id="messageAjax">
		<span class="label label-danger danger"></span>
		<span class="label label-success success"></span>
		<br style="margin-bottom: 5px;"/>
	</div>
	
	<!-- Modal expiredSession -->
	<div th:fragment="expiredSession">
		<div class="modal fade" data-backdrop="static" id="expiredSession">
			<div class="modal-dialog" role="document">
				<div class="modal-content panel-primary">
					<div class="modal-header">
		               <button type="button" class="close expiredButton" data-dismiss="modal">×</button>
		               <h4 class="modal-title">Modal Header</h4>
		            </div>
					<div class="modal-body">
			        	<div>
							Your session has expired. please login again...
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-sm expiredButton" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End modal expiredSession -->
	
	<!-- Modal showText -->
	<div th:fragment="showText">
		<div class="modal fade" data-backdrop="static" id="showText">
			<div class="modal-dialog" role="document">
				<div class="modal-content panel-primary">
					<div class="modal-body">
			        	<textarea readonly="readonly" id="error" style="resize: none; min-width: 100%; min-height: 300px;"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End modal showText -->
	
	<!-- Modal load -->
	<div th:fragment="modalLoad">
		<div class="load" id="modalLoad" style="display: none;">
			<div class="loader">
   				<div class="face face1">
       				<div class="circle"></div>
       			</div>
   				<div class="face face2">
       				<div class="circle"></div>
   				</div>
			</div>
		</div>
	</div>
	<!-- End modal load -->
	
	<!-- body load -->
	<div th:fragment="bodyLoad">
		<div class="modal fade" data-backdrop="static" id="bodyLoad">
			<div class="modal-dialog" role="document">
				<div class="load" style="margin: 50% 0;">
					<div class="loader">
		   				<div class="face face1">
		       				<div class="circle"></div>
		       			</div>
		   				<div class="face face2">
		       				<div class="circle"></div>
		   				</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End modal body load -->
</body>
</html>